@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: fit-content;
    margin: auto;
}

p {
    color: rgb(1, 1, 65);
}
